/* CSS */

body {
		  	font-size: 1.6rem;
		  	font-family: 'Open Sans', sans-serif;
		  	font-weight: 300;
		  	fill: #7A7A7A;
		  	text-align: center;
		}



/* Headings */  
h1 {
	      font-size: 2.6rem;
	      fill: #4F4F4F;
	      font-weight: 300;
	      text-anchor: middle;
	    }

h2 {
	      font-size: 1.6rem;
	      fill: #AAAAAA;
	      font-weight: 300;
	      text-anchor: middle;
	    }

 h3 {
    text-anchor: middle;
    font-size: .6rem;
    fill: #4F4F4F;
    font-weight: 300;
}

footer{
	font-family: "Helvetica", "Arial", sans-serif;
	text-anchor: middle;
    font-size: .6rem;
    fill: #4F4F4F;
    font-weight: 300;
}


/* Prvinces label */
.subunit-label {
  fill: #171302;
  fill-opacity: .5;
  font-size: 15px;
  font-weight: 300;
  text-anchor: middle;
  pointer-events: none; /* Prevents text from messing up provinces hover style */
}

/* When user hovers above province make it orange */
.proviMouseOver {
  fill: orange;
}

.proviMouseOut {
  .attr("fill", function(d) { return color(d.properties.total_population); })
}

/* Make the municipalities layer transparent */
.municipalities {
  fill: transparent; 
}

/* White boundaries between provinces */
.province-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .7px;
}

/* Population bubbles and hover effect*/
.bubble {
  fill: #e64d00;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
} 
.bubbleMuniMouseOver {
  fill: purple;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
} 

/* Legend for population bubbles */
.legend circle {
  fill: none;
  stroke: #ccc;
}
/*Bubble Legend*/
.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

/*.x-axis line, .x-axis path { stroke: #fff; }

/*Province population legend title*/
.legendTitle {
	      font-size: .8rem;
	      fill: #4F4F4F;
	      font-weight: 300;
	}

/*Province population legend axis*/
.axis path, .axis tick, .axis line {
          fill: none;
          stroke: none;
      }

/*Province population legend text*/
text {
        font-size: .6rem;
        fill: #AAAAAA;
        font-weight: 400;
  }


/*Municipalities tooltip*/
 div.tooltip { 
          position: absolute;     
          text-align: center;     
          width: 80px;          
          height: 14px;         
          padding: 2px;       
          font: 12px sans-serif;    
          background: #fff; 
          border: 0px;        
          pointer-events: none;  
}


/* Textbox displaying name of place and total population */



.place-name {
	      font-size: 1.6rem;
	      fill: #4F4F4F;
	      font-weight: 300;
	      text-anchor: left;
	    }
.population-text {

	      font-size: 1rem;
	      fill: #4F4F4F;
	      font-weight: 300;
	      text-anchor: left;
	      position: relative;
	      top: -10px;
	    }








/*bargraph style*/
.bar {
  fill: steelblue;
}

#chart {
  translate: (100 300);
  
}


.baraxis text 
  font: 10px sans-serif;
}

.baraxis path,
.baraxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.baraxis path {
  display: none;
}

.x.baraxis text {
				font-family: sans-serif;
				font-size: 10px;
			}

.y.baraxis text {
  font: 10px sans-serif;
}

.y.baraxis path,
.y.baraxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/*donut chart*/


.arc text {
  font-family: 'Pacifico', sans-serif;
			fill: #333333;
			font-size: 15px;
			text-align: center;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: white;
}


.donutText {
			font-family: 'Pacifico', sans-serif;
			fill: #333333;
			font-size: 12px;
			text-align: center;
		}
		
	